<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='../static/css/style.css')}}">
    <title>Welcome!</title>
</head>
<body>
    <div class="content">
        <div class="column">
            <div class="registerBox">
                <h1>Register</h1>
                <form action="/register" method="post">
                    <input type="hidden" name="which_form" value="register">
                    <div class="inputWrap">
                        <label for="first_name">First Name:</label>
                        <input type="text" name="first_name" id="">
                    </div>
                    <div class="inputWrap">
                        <label for="last_name">Last Name:</label>
                        <input type="text" name="last_name" id="">
                    </div>
                    <div class="inputWrap">
                        <label for="email">Email: </label>
                        <input type="text" name="email" id="">
                    </div>
                    <div class="inputWrap">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="">
                    </div>
                    <div class="inputWrap">
                        <label for="confirmPassword">Confirm Password:</label>
                        <input type="password" name="confirmPassword" id="">
                    </div>
                    <button type="submit">Register</button>
                </form>
            </div>
            {% with messages = get_flashed_messages(category_filter=["registration_error"]) %}
                {% for message in messages %}
                    <p style="color: red">{{message}}</p>
                {% endfor %}
            {% endwith %}
        </div>
        <div class="column">
            <div class="loginBox">
                <h1>Login</h1>
                <form action="/register" method="post">
                    <input type="hidden" name="which_form" value="login">
                    <div class="inputWrap">
                        <label for="email">Email:</label>
                        <input type="text" name="email" id="">
                    </div>
                    <div class="inputWrap">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="">
                    </div>
                    <button>Login</button>
                </form>
            </div>
            {% with messages = get_flashed_messages(category_filter=["login_error"]) %}
                {% for message in messages %}
                    <p style="color: red">{{message}}</p>
                {% endfor %}
            {% endwith %}
        </div>
    </div>
</body>
</html>